<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><img src="https://img.icons8.com/ios-glyphs/30/000000/bug--v1.png" /> CAN ROLLAS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">ana sayfa <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/about">hakkimda<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/cv">ozgecmis <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="https://drive.google.com/drive/folders/1GGTSFpphSGgUdfydMv5SqHZo2Awa6aig?usp=sharing">yazilar <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="https://drive.google.com/drive/folders/1Krd4ybLSjYOMANmLxAD29fM5AMFxDmvt?usp=sharing">notlar <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="mailto:canrollas@gmail.com">iletisim <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/canrollas">github <i class="fa fa-github"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.linkedin.com/in/can-rollas-198248b5/">linkedin <i class="fa fa-linkedin-square"></i></a>
      </li>
     
      
    </ul>
    <div class="form-inline my-2 my-lg-0"><br>
      <a class="nav-link" href="/register">Mail bildirimi için kayıt</a>
    </div>
  </div>
</nav>