{% extends 'layout.html' %}


{% block title %}

Hakkımda

{% endblock %}

{% block can_rollas %}

<div class="container">
    <div class="row">
        
        <div class="col-sm-12" style="text-align: center;">
            <br><br> <br><br>
            <img class="text-center" style="border: 5px solid #555;"
                src="https://media-exp1.licdn.com/dms/image/C4D03AQFCGgHQYC4VDA/profile-displayphoto-shrink_800_800/0/1601826023522?e=1617840000&v=beta&t=tYS8RynA-2X9pSPsONuXNZtLYrSBNkWqts2BrV17lys">
        </div>
        <br><br><br>
        <div class="col-sm-12">
            <br><br>
            <h3 style="text-align: center;">Hakkımda</h3>
            <p>Merhaba! Ben Can Rollas.Bilgisayar mühendisliği öğrencisiyim.Aslında insanın aklına pek de bir şey
                gelmiyor böyle yazı yazması gerektiginde
                :).İlginç hobileri ve zevkleri olan birisiyim mesela nedendir bilmem ama tamamen Ankara
                aşığıyımdır.İlginç bir şekilde doğunun garip bir kasabası
                diyebilecegimiz ama aslında şehir olarak anılan bir ilcesinde büyümeme ragmen abim ile beraber farklı
                hobiler ve kisiliklere büründük buna verilebilecek
                en güzel örnek sanırım müzikle aramın iyi olmasıdır. <a
                    href="https://open.spotify.com/artist/77wkLhiV07tBfGb5D8fuNw">(Spotify sanatcı hesabımdan
                    sarkılarımı takip edebilirsiniz)</a>
                Bilgisayarlara ve teknolojiye bayılıyorum bununla beraber icimde malesef bir yaşlı ve eski kafalı
                hobilerim var.Mesela balık tutmayı ve plak dinlemeyi cok severim.Sanırım en büyük hayallerimden
                birisi gelecekte iyi nesiller yetistirebilecegim bir akademisyen olmak... umarım bu hedefime
                ulasırım.Kod yazmaya ve web sitesine amatörce lisede basladım.Baslamamın temel sebebi sanırım how i met
                your mother
                Marshall Eriksen abimizdir. Sagolsun cok güzel slap counter isimli bir web sitesi olusturmustu ve her
                şeye şarkı yazıp web sitelerine yüklüyordu :D. Yıllar gecti bu olaydan sonrasında
                ama tutkularım degismedi... Suan bilgisayar üzerine kendimi gelistirmeye devam etmekteyim özellikle
                istedigim alanlar da deep learning ve yapay zeka.Umarım bu web sitesi de yazılar formlar ve notlarla
                size yardımcı olabilir :)

                <br><br><br>
                LIVE LONG AND PROSPER!!
                <br>
                CAN ROLLAS

            </p>
        </div>

    </div>
</div>

{% endblock %}